/* ================================================= */
/* This file created by Aivah                        */
/* Dated: 3rd Feb 2009	                             */
/* Copyright : 2009 Aivah.com                        */
/* Stylesheet: menu.css                              */
/* ================================================= */

/* ================================================= */
/* Root = Horizontal, Secondary = Vertical           */
/* ================================================= */


ul#navmenu {
	margin: 1px 40px 1px 20px;
	border: 0 none;
	padding: 0;
	width: auto; /*For KHTML*/
	list-style: none;
	height: 24px;

	}

ul#navmenu li {
	margin: 0;
	border: 0 none;
	padding: 0;
	float: left; /*For Gecko*/
	display: inline;
	list-style: none;
	position: relative;
	height: 31px;
	}

ul#navmenu ul {
	margin: 0;
	border: 0 none;
	padding: 0;
	width: 160px;
	list-style: none;
	display: none;
	position: absolute;
	top: 31px;
	left: 0;
	}

ul#navmenu ul:after /*From IE 7 lack of compliance*/{
	clear: both;
	display: block;
	font: 1px/0px serif;
	content: ".";
	height: 0;
	visibility: hidden;
	}

ul#navmenu ul li {
	width: 160px;
	float: left; /*For IE 7 lack of compliance*/
	display: block !important;
	display: inline; /*For IE*/
	}

/* ================================================= */
/* Root Menu                                         */
/* ================================================= */

ul#navmenu a {
	border: 0px solid #e8f2db;
	border-right-color: #e8f2db;
	border-left-color: #e8f2db;
	border-bottom-color: #e8f2db;
	padding: 4px 10px;
	float: none !important; /*For Opera*/
	float: left; /*For IE*/
	display: block;
	color: #d4d4d4;
	font: bold 12px/22px Arial, Helvetica, sans-serif;
	text-decoration: none;
	height: auto !important;
	height: 1%; /*For IE*/
	}

/* ================================================= */
/* Root Menu Hover Persistence                       */
/* ================================================= */
ul#navmenu a:hover,
ul#navmenu li:hover a,
ul#navmenu li.iehover a {
	background: #f64e40 url(../../images/admin/menutop.gif) 50% 0% no-repeat;
	color: #FFF;
	}
#navmenu li ul
{
border:1px solid #d6d6d6;	background: #ffffff ; border-width:1px 1px 3px 1px;
}
#navmenu li ul li a
{
background:url(../../images/admin/arrow.gif) 50% 0% no-repeat;
}

/* ================================================= */
/* 2nd Menu                                          */
/* ================================================= */
ul#navmenu li:hover li a,
ul#navmenu li.iehover li a {
	float: none;
background: #ffffff url(../../images/admin/bg.gif) top left repeat-x;
	color: #414141;
	}

/* ================================================= */
/* 2nd Menu Hover Persistence                        */
/* ================================================= */
ul#navmenu li:hover li a:hover,
ul#navmenu li:hover li:hover a,
ul#navmenu li.iehover li a:hover,
ul#navmenu li.iehover li.iehover a {
	color: #f64e40;background: #ffffff url(../../images/admin/bg.gif) top left repeat-x;
	}

/* ================================================= */
/* 3rd Menu                                          */
/* ================================================= */
ul#navmenu li:hover li:hover li a,
ul#navmenu li.iehover li.iehover li a {
	background: #ffffff url(../../images/admin/bg.gif) top left repeat-x;
	color: #414141;
	}

/* ================================================= */
/* 3rd Menu Hover Persistence                        */
/* ================================================= */
ul#navmenu li:hover li:hover li a:hover,
ul#navmenu li:hover li:hover li:hover a,
ul#navmenu li.iehover li.iehover li a:hover,
ul#navmenu li.iehover li.iehover li.iehover a {
	background: #FFF url(../../images/admin/bg.gif) top left repeat-x;
	color: #f64e40;
	}

/* ================================================= */
/* 4th Menu                                          */
/* ================================================= */
ul#navmenu li:hover li:hover li:hover li a,
ul#navmenu li.iehover li.iehover li.iehover li a {
	background: #c2c9a8;
	color: #4c4f49;
	}

/* ================================================= */
/* 4th Menu Hover                                    */
/* ================================================= */
ul#navmenu li:hover li:hover li:hover li a:hover,
ul#navmenu li.iehover li.iehover li.iehover li a:hover {
	background: #e8f2db;
	color: #4c4f49;
	}

ul#navmenu ul ul,
ul#navmenu ul ul ul {
	display: none;
	position: absolute;
	top: 0;
	left: 160px;
	}

/* ================================================= */
/* Do Not Move - Must Come Before display:block for Gecko */
/* ================================================= */

ul#navmenu li:hover ul ul,
ul#navmenu li:hover ul ul ul,
ul#navmenu li.iehover ul ul,
ul#navmenu li.iehover ul ul ul {
	display: none;
	}

ul#navmenu li:hover ul,
ul#navmenu ul li:hover ul,
ul#navmenu ul ul li:hover ul,
ul#navmenu li.iehover ul,
ul#navmenu ul li.iehover ul,
ul#navmenu ul ul li.iehover ul {
	display: block;
	}

